body{
  background-image: url(assets/bgNature.png);
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{
  backdrop-filter: blur(2px);
  width: 100vw;
  padding: 10px 0;
}

.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}

.Timer-button{
  font-size: 2.5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  background: transparent;
  border: 4px solid hsla(0, 0%, 100%, 0.75);
  border-radius: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  display: flex;
  padding: 6px 12px;
}

#root{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.control-buttons button{
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  background: transparent;
  border: 4px solid hsla(0, 0%, 100%, 0.75);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  padding: 6px 12px;
  margin: 10px;
}